Concerning the moonshot project, i directd my self to grand parents computerised help assistance.
The first projetc i had in mind was to creat some AI tools that will be inserted in a door locker, watch or phone, and camera.
What was the objective ?
I wanted to help grand parents to be able to close and open their door just with the help of their voice.
For example:
      A grand father is tired, they knock at his door and he don't want to stand up, By the help of his voice and the phone or watch, 
      he will able to see the person knocking zt his door, and will lock or unlock the door wth his voice.

That was my first idea, but this special project exist already. 
I'm still on my research for the next project i will present.
